<!-- header -->
  <header class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-p1">
      <div class="container">
        <a title="Page d'accueil" class="navbar-brand" href="{{ path('index') }}"><img class="logo img-fluid"
            src="{{ asset('build/images/logo.png') }}" alt="Loca auto">
          <h1 class="h1 m-0 p-0 fs-6">Location de voitures</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item p-2">
              <a title="Agence" class="nav-link text-white" href="{{ path('agence') }}">Agence</a>
            </li>
            <li class="nav-item p-2">
              <a title="Voitures" class="nav-link text-white" href="{{ path('cars_index') }}">Voitures</a>
            </li>
            <li class="nav-item p-2">
              <a title="Page Conditions" class="nav-link text-white" href="{{ path('conditions') }}">Conditions</a>
            </li>

            

           
            {% if is_granted('ROLE_USER') %}
              <li class="nav-item p-2">
              <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle"  id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                  Mon espace
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                  <li><a title="Mon profile" class="dropdown-item text-black" href="/service/{{ app.user.id }}">Mon profil</a></button></li>
                  <li><a title="Liste des voitures" class="dropdown-item text-black" href="{{ path('service_car_list') }}">Liste des voitures</a></button></li>
                  
                  <li><a title="Liste de reservations" class="dropdown-item text-black" href="{{ path('booking_index') }}">Mes reservations</a></button></li>
                
                </ul>
              </div>
              </li>
            {% endif %}
            

            
            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item p-2">
              <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle"  id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestion Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a title="Liste des voitures" class="dropdown-item text-black" href="{{ path('cars_index') }}">Liste des voitures</a></button></li>
                  <li><a title="Liste de clients" class="dropdown-item text-black" href="{{ path('user_index') }}">Liste de clients</a></button></li>
                  <li><a title="Liste de reservations" class="dropdown-item text-black" href="{{ path('booking_index') }}">Liste de reservations</a></button></li>
                
                </ul>
              </div>
              </li>
            {% endif %}
            
            

            {% if app.user %}
            <li class="nav-item p-2">
              <div class="mb-3">
                  <a class="btn btn-outline-success text-white btn-primary" href="{{ path('app_logout') }}">Logout</a>
              </div>
              {% else %}
              <div class="mb-3">
                  <a class="btn btn-outline-success text-white btn-primary" href="{{ path('app_login') }}">Login</a>
              </div>
            </li>
            {% endif %}


           

            
          </ul>
        </div>
      </div>
    </nav>
{% if app.user %}
<!-- nav de connexion-->
    
	    	<div class="p-3 bg-p2">
	    		<div class="container">
			     <div class="row"> 	
			        
			    
						<div class="col-md-6 text-white ">E-mail de connexion : {{ app.user.username }}</div>
            <div class="col-md-6 text-white text-center">Infos</div>
				
			   
		      	</div>
	    	</div>
        </div>
 {% endif %}	 
    
  </header><!-- end header -->