{% extends 'base.html.twig' %}

{% block title %}Location de voitures{% endblock %}

{% block body %}


{{ include('site/slider.html.twig') }}


<!-- offres-->
<div class="row">
{% for car in cars %}
  <div class="col-md-4 ">
  <div class="card">
    <img src="{{asset('build/images/voitures/' ~ car.photo)}}" class="card-img-top " alt="image de la voiture">
    <div class="card-body">
      <h5 class="card-title"><span class="fs-5">Numéro d'immatriculation :</span> {{ car.registrationNumber }}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><span class="fs-5">{{ car.km }} km</span></p>
    </div>
    </div>
 </div>
{% endfor %}
   
</div><!-- end offres-->



<div class="container listado">

</div>

    <div class="text-center mt-5 mb-5">

    {{ include('cta/cta_car_index.html.twig') }}

    </div>






{% endblock %}
