{% extends 'base.html.twig' %}

{% block title %}CarBrand index{% endblock %}

{% block body %}
    <h1>CarBrand index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car_brand in car_brands %}
            <tr>
                <td>{{ car_brand.id }}</td>
                <td>{{ car_brand.name }}</td>
                <td>
                    <a href="{{ path('car_brand_show', {'id': car_brand.id}) }}">show</a>
                    <a href="{{ path('car_brand_edit', {'id': car_brand.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_brand_new') }}">Create new</a>
{% endblock %}
